{% extends 'base.html.twig' %}

{% block title %}CreativePizza{% endblock %}

{% block body %}

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal mb-3">HappyPizza</h1>
           
            <p class="fs-5 text-muted mb-5">Большая порция Вашего удовольствия. Для больших людей. У нас всегда Пятница! По пятницам!</p>
            

        </div>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for item in product %}
                {% if item.isShow == true %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <a href="/" class=" text-dark text-decoration-none">
                                <h4 class="my-0 fw-normal">Пицца<small class="text-muted fw-light">-{{item.name}}</small></h4>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="product/{{item.id}}" class="d-flex align-items-center ">
                            <img src="{{ asset(item.image)}}" width="260" height="220" class="mb-3" style="border-radius:5px;">
                            </a>
                            <h5 class="text-start">Ингредиенты:</h5>
                            <ul class="list-unstyled mt-3 mb-4 text-start">
                                <li>Пышное тесто</li>
                                <li>Сыр</li>
                                <li>Колбаса</li>
                                <li>Лук</li>
                                <li>Цена <span class="text-muted">(круг/500г):  </span> <strong> {{item.price}} р</strong> </li>

                            </ul>
                            <div  class="row  d-flex justify-content-around">
                               
                                <a href="product/{{item.id}}" class="btn btn-lg btn-outline-primary">Хочу!</a>
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
                {% endif %}
          {% endfor %}
            </div>
            
            {# <h2 class="display-6 text-center mb-4">Создай пиццу своей мечты на свой вкус</h2>

            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th style="width: 34%;"></th>
                            <th style="width: 22%;">Пышное тесто</th>
                            <th style="width: 22%;">Тонкое тесто</th>
                            <th style="width: 22%;">Слоеное тесто</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Сыр</th>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
                        </tr>
                       
                    </tbody>

                    <tbody>
                         <tr>
                            <th scope="row" class="text-start">Томаты</th>
                            <td><a href="#" class="text-decoration-none text-dark">Добавить</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">Добавить</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">Добавить</a></td>

                            
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Ветчина</th>
                            <td><a href="#" class="text-decoration-none text-dark">Добавить</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">Добавить</a></td>
                            <td><a href="#" class="text-decoration-none text-dark">Добавить</a></td>
                        </tr>
                    </tbody>
                </table>
            </div> #}
        </main>
{% endblock %}
