{% extends 'base.html.twig' %}

{% block title %}Пицца-{{product.name}}{% endblock %}

{% block body %}
   
    <div class="container">
    
    <h2 class="mb-5 text-center" >Пицца<small class="text-muted fw-light">-{{product.name}}</small></h2>

    <div class="row row-cols-1 row-cols-md-4 ">
        <div class="col-sm-4 text-start ">
            <img src="{{ asset(product.image)}}" width="100%" class="mb-3" style="border-radius:5px;">
            <form action="{{ path('addBasket') }}" method="post" class="row row-cols-2 d-flex justify-content-around">
                <div class="number">
                    <button class="btn btn-outline-primary number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                    <input type="number" min="0" value="1" name="quantity" id="quantity" readonly>
                    <button class="btn btn-outline-primary number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                </div>
                    <input type="hidden" name="product_id" id="product_id" value="{{product.id}}"/>
                    <input type="hidden" name="price_product" id="price_product" value="{{ product.price }}"/>
                    <button type="submit" class="col col-sm-7 btn btn-lg btn-outline-primary">В корзину</button>
            </form>
        </div>
        <div class="col-sm-5 text-center">
            <p>
                {{product.description}}
            </p>
        </div>
        <div class="col-sm-3 text-end">
            <ul class="col list-unstyled text-muat">
                <li><strong>Цена</strong></li>
                <li>{{product.price}} руб.</li>
            </ul>
        </div>
     
    </div>
   
    
       
    </div>
  
{% endblock %}
