<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="generator" content="Hugo 0.84.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
            }
        
        .container {
            max-width: 960px;
            }

        .pricing-header {
            max-width: 700px;
            }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
            {# input number #}
.number {
	display: inline-block;
	position: relative;
	width: 70px;
    border:1px solid #4E2FFF;
    border-radius:5px;
    height:47px;
}
.number input[type="number"] {
	display: block;
	height: 45px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    border:none;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-right: 1px solid #ddd;
	font-size: 16px;
	font-weight: 600;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-left: 1px solid #ddd;
	font-size: 16px;
	font-weight: 600;
}
            {# input number end #}
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
        </svg>
        <div class="container py-3">
            <header>
                <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                        {# <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bootstrap</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg> #}
                        <img src="{{ asset('logo1.png') }}" alt="crt" width="50" height="50" class="me-2">
                        <span class="fs-4"><span class="text-info">Creative</span>Pizza</span>   
                    </a>
                    
                    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
                        <a class="me-3 py-2 text-dark text-decoration-none btn" href="{{path('index')}}">Главная</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="me-3 py-2 text-dark text-decoration-none btn" href="{{path('app_logout')}}">{{ app.user.username }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="me-3 py-2 text-dark text-decoration-none btn" href="{{path('admin')}}">Admin</a>
                        {% endif %}
                        {% else %}
                            <a class="me-3 py-2 text-dark text-decoration-none btn" href="{{path('app_login')}}">Войти</a>
                        {% endif %}
                        <a href="{{path('basket')}}" class="btn  position-relative" style="width:50px">
                        <i class="fas fa-shopping-basket"></i>
                        {% if count == 0 %}
                        {% else %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{count}}
                                <span class="visually-hidden">количество товаров</span>
                            </span>
                        {% endif %}
                        </a>     
                    </nav>
                </div>   
            </header>
           
            {% block body %}
            {% endblock %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="{{ asset('logo1.png') }}" alt="" width="60" height="40">
                        <small class="d-block mb-3 text-muted">&copy; 2021 CreativePizza</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Ресторан доставки пиццы</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Только свежие ингнидиенты</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Самые низкие цены</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Лучший персонал города!</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Бонусы и многое другое!</a></li>    
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Доставка</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Доставим в течении часа</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Только свежие продукты</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Дополнительные бонусы</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Программа "Постоянный клиент"</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>О нас</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Волосатый повар огня боится!</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">г. Тюмень, ул. Танковая, 5-й люк</a></li> 
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><span>{{time | date }}</span></a></li>   

                            
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
